* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff5d8; */
    background: url("img/annie-spratt-AFB6S2kibuk-unsplash.jpg");
}

/* CONTAINER PRINCIPAL */
.container {
    width: 400px;
}

/* ÁREA DO FORMULÁRIO */
.forms {
    border: 2px solid #389c9c;
    background-color: #ebebeb;
    border-radius: 6px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 6px 8px 10px 0px #4d4d4d;
}

h2 {
    text-align: center;
    background-color: rgba(235, 235, 235, 0.9);
    border-radius: 6px;
    padding: 6px;
}

label {
    color: #389c9c;
    font-weight: bold;
}

input {
    padding: 5px;
    border: 2px solid #389c9c;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    color: #389c9c;
    font-weight: bold;
    background-color: #bfe9e9;
}

input::placeholder {
    color: #979797;
}

input:focus {
    border: 2px solid red;
}

p {
    display: none;
}

button {
    padding: 5px;
    width: 100%;
    height: 35px;
    background-color: #389c9c;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

button:hover {
    background-color: #389c9c;
    cursor: pointer;
}

.site-name {
    color: #389c9c;
}

/* CARD DE DADOS */
.card {
    display: none;
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    background-color: #389c9c;
    color: white;
    box-shadow: 6px 8px 10px 0px #4d4d4d;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    font-weight: bold;
    list-style: none;
}

ul > li {
    margin-bottom: 10px;
}

/* RODAPÉ */
.attribution {
    margin-top: 20px;
    font-weight: bold;
	font-size: 0.8rem;
	text-align:center
}

.attribution a {
	color:#389c9c
}